
@{
    Layout = null;
}

<style>
    .color{
        width:55px;
        height:20px;
    }
    .size {
        width: 55px;
        height: 20px;
        color:red;
    }
    .lii{
        width:100px;
        height:33px;
        margin-left:1px;
        margin-top:1px;
        float:left;
    }
    .sps{
        padding-bottom:1px;
    }
</style>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>商品页面</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <link href="~/Content/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" />
    <link href="~/Content/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" />
    <link href="~/Content/basic/css/demo.css" rel="stylesheet" />
    <link href="~/Content/css/optstyle.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Content/basic/js/jquery-1.7.min.js"></script>
    <script src="~/Content/basic/js/quick_links.js"></script>
    <script src="~/Content/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    <script src="~/Content/js/jquery.imagezoom.min.js"></script>
    <script>
        var pric;
        $(function () {
            GetGoodsInfos();
        })
        //显示
        function GetGoodsInfos() {
            $.ajax({
                url: "http://localhost:50519/api/GoodsInfo/GetGoodsInfos?id="+@ViewBag.GoodsId,
                type: "get",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    console.log(d);
                    $(d).each(function () {
                        $("#ImgBig").empty();
                        $("#ImgBig").append("<td><img style='width:397px;height:437px'  src='" + this.goodsInfoImage + "' /></td>");
                        $("#name").empty();
                        $("#name").append("<h1>" + this.goodsInfoName + "  " + this.goodsInfoDesc + "</h1 >");
                        $("#pricec").empty();
                        $("#pricec").append("" + this.goodsInfoPrice + "");
                        pric = this.goodsInfoPrice;
                        $("#pricey").empty();
                        $("#pricey").append("" + this.goodsInfoPrice * 1.5 + "");
                        $("#J_AttrUL").empty();
                        $("#J_AttrUL").append("<li title=''>商品类型:&nbsp;" + this.goodsTypes + "</li>" +
                            "<li title=''>商品产地:&nbsp;" + this.goodsInfoPlace + "</li>" +
                            "<li title=''>商品可选颜色:&nbsp;" + this.goodsInfoColor + "</li>" +
                            "<li title=''>商品可选规格:&nbsp;" + this.goodsInfoSize + "</li>" +
                            "<li title=''>商品简介:&nbsp;" + this.goodsInfoDesc + "</li>");
                       
                        $("#sales").empty();
                        $("#sales").append("" + this.goodsInfoCount + "");
                    })
                    GetGoodsLookColor();
                }
            });
        }
        //获取商品详情图片
        function GetGoodsLookColor() {
            $.ajax({
                url: "http://localhost:50519/api/GoodsInfo/GetGoodsLooksColor?id="+@ViewBag.GoodsId,
                type: "get",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    $("#Color").empty();
                    $(d).each(function () {
                        $("#Color").append("<div class='lii'><li><input type='radio' class='color' value='" + this.goodsColor + "' name='color'/><span class='sps'>" + this.goodsColor + "</span><i></i></li></div>");
                    })
                    GetGoodsLookSize();
                }
            });
        }
        //联查颜色
        function GetGoodsLookColor() {
            $.ajax({
                url: "http://localhost:50519/api/GoodsInfo/GetGoodsLooksColor?id="+@ViewBag.GoodsId,
                type: "get",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    $("#Color").empty();
                    $(d).each(function () {
                        $("#Color").append("<div class='lii'><li><input type='radio' class='color' value='" + this.goodsColor + "' name='color'/><span class='sps'>" + this.goodsColor + "</span><i></i></li></div>");
                    })
                    GetGoodsLookSize();
                }
            });
        }
        //联查尺码
        function GetGoodsLookSize() {
            $.ajax({
                url: "http://localhost:50519/api/GoodsInfo/GetGoodsLooksSize?id="+@ViewBag.GoodsId,
                type: "get",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    $("#Size").empty();
                    $(d).each(function () {
                        $("#Size").append("<div class='lii'><li><input type='radio' class='size' value='" + this.goodsSize + "'  name='size'  />" + this.goodsSize + "<i></i></li></div>");
                    })
                }
            });
        }
        //购买加入订单没有问题
        function OnBuy() {
            var color = $(".color:checked").val();
            var size = $(".size:checked").val();
            var num = $("#text_box").val();
            var goodsLookId;//具体商品主键
            $.ajax({
                url: "http://localhost:50519/api/GoodsInfo/GetGoodsLooksKC",
                type: "get",
                dataType: "json",
                data: { id: 10, color: color, size: size },//Id是显示商品主键
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    if (d == "") {
                        alert('请先选择商品样式尺码');
                        return;
                    }
                    $(d).each(function () {
                        goodsLookId = this.goodsLookId;
                    })
                    var ord = {};
                    ord.GoodsLookIdOut = goodsLookId;
                    ord.UserInfoIdOut = 2;//用户主键写死
                    ord.OrderInfoSumPrice = pric * num;
                    ord.OrderInfoNumber = num;
                    $.ajax({
                        url: "http://localhost:50519/api/MyOrderInfo/AddOrderInfo",
                        type: "post",
                        dataType: "json",
                        data: ord,
                        contentType: "application/x-www-form-urlencoded",
                        success: function (d) {
                            if (d > 0) {
                                alert(d);
                            }
                            else {
                                alert("添加失败");
                                return;
                            }
                        }
                    })
                }
            });
        }
        //加入购物车
        function AddCar() {
            var color = $(".color:checked").val();
            var size = $(".size:checked").val();
            var num = $("#text_box").val();
            var g;//具体商品主键
            $.ajax({
                url: "http://localhost:50519/api/GoodsInfo/GetGoodsLooksKC",
                type: "get",
                dataType: "json",
                data: { id:@ViewBag.GoodsId, color: color, size: size },
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    $(d).each(function () {
                        g = this.goodsLookId;
                        alert(g);
                    })
                    var goodsCar = {};
                    goodsCar.GoodsLookIdOut = g;
                    goodsCar.UserInfoIdOut = 2;
                    goodsCar.GoodsNumber = num;
                    $.ajax({
                        url: "http://localhost:50519/api/GoodsCarInfos/AddGoodsCarInfos",
                        type: "post",
                        dataType: "json",
                        data: goodsCar,
                        contentType: "application/x-www-form-urlencoded",
                        success: function (d) {

                            if (d > 0) {
                                alert("加入购入车成功");
                            }
                            else {
                                alert("加入购入车失败");
                                return;
                            }
                        }
                    })
                }
            })
        }
    </script>
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>
</head>
<body>
        <!--顶部导航条 -->
        <div class="am-container header" style="">
            <ul class="message-l">
                <div class="topMessage">
                    <div class="menu-hd">
                        <a href="#" target="_top" class="h">亲，请登录</a>
                        <a href="#" target="_top">免费注册</a>
                    </div>
                </div>
            </ul>
            <ul class="message-r">
                <div class="topMessage home">
                    <div class="menu-hd"><a href="javascript:location.href='/ShowMasters/ShowMaster'" target="_top" class="h">商城首页</a></div>
                </div>
                <div class="topMessage my-shangcheng">
                    <div class="menu-hd MyShangcheng"><a href="javascript:location.href='/Personal/SingePersonalCenter'" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
                </div>
                <div class="topMessage mini-cart">
                    <div class="menu-hd"><a id="mc-menu-hd" href="javascript:location.href='/ShopCar/SingShopCar'" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>我的购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
                </div>
                <div class="topMessage favorite">
                    <div class="menu-hd"><a href="javascript:location.href='/ShowMasters/GoodsAddCollect'" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>商品收藏</span></a></div>
                </div>
            </ul>
        </div>
        <!--悬浮搜索框-->

        <div class="nav white">
            <div class="logo"><img src="~/Content/images/logo.png" /></div>
            <div class="logoBig">
                <li><img src="~/Content/231.png" /></li>
            </div>

            <div class="search-bar pr">
                <a name="index_none_header_sysc" href="#"></a>
                <form>
                    <input id="searchInput" value="@ViewBag.Name" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
                    <input id="ai-topsearch" onclick="Serch()" class="submit am-btn" value="搜索" type="button">
                </form>
            </div>
        </div>
        <div class="clear"></div>
        <b class="line"></b>
        <div class="listMain"></div>
        <!--分类-->
        <div class="nav-table">
            <div class="long-title"><span class="all-goods">全部分类</span></div>
            <div class="nav-cont">
                <ul>
                    <li class="index"><a href="#">首页</a></li>
                </ul>
                <div class="nav-extra">
                    <i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
                    <i class="am-icon-angle-right" style="padding-left: 10px;"></i>
                </div>
            </div>
        </div>
        <ol class="am-breadcrumb am-breadcrumb-slash">
            <li><a href="#">首页</a></li>
            <li><a href="#">分类</a></li>
            <li class="am-active">内容</li>
        </ol>
        <script type="text/javascript">
            $(function () { });
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <div class="scoll">
            <section class="slider">
                <div class="flexslider">

                </div>
            </section>
        </div>
        <div class="item-inform">
            <div class="clearfixLeft" id="clearcontent">
                <div class="box">
                    <div style="height:440px;width:400px" class="tb-booth tb-pic tb-s310">
                        <table>
                            <tr id="ImgBig">
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <style>
            </style>
            <div class="clearfixRight">
                <!--规格属性-->
                <!--名称-->
                <div class="tb-detail-hd" id="name">
                    <h1>
                        良品铺子 手剥松子218g 坚果炒货 巴西松子
                    </h1>
                </div>
                <div class="tb-detail-list">
                    <!--价格-->
                    <div class="tb-detail-price">
                        <li class="price iteminfo_price">
                            <dt>促销价</dt>
                            <dd><em>¥</em><b class="sys_item_price" id="pricec">56.90</b></dd>
                        </li>
                        <li class="price iteminfo_mktprice">
                            <dt>原价</dt>
                            <dd><em>¥</em><b class="sys_item_mktprice" id="pricey">98.00</b></dd>
                        </li>
                        <div class="clear"></div>
                    </div>


                    <!--销量-->
                    <ul class="tm-ind-panel">
                        <li class="tm-ind-item tm-ind-sumCount canClick">
                            <div class="tm-indcon"><span class="tm-label">累计销量</span><span class="tm-count" id="sales">6015</span></div>
                        </li>
                    </ul>
                    <div class="clear"></div>

                    <!--各种规格-->
                    <dl class="iteminfo_parameter sys_item_specpara">
                        <dt class="theme-login"><div class="cart-title">可选规格<span class="am-icon-angle-right"></span></div></dt>
                        <dd>
                            <!--操作页面-->

                            <div class="theme-popover-mask"></div>

                            <div class="theme-popover">
                                <div class="theme-span"></div>
                                <div class="theme-poptit">
                                    <a href="javascript:;" title="关闭" class="close">×</a>
                                </div>
                                <div class="theme-popbod dform">
                                    <form class="theme-signin" name="loginform" action="" method="post">

                                        <div class="theme-signin-left">

                                            <div class="theme-options">
                                            
                                                    <div class="cart-title">颜色</div>
                                                    <ul id="Color">
                                                    </ul>
                                       


                                            </div>
                                            <div class="theme-options">
                                                <div class="cart-title">尺码</div>
                                                <form class="layui-form">
                                                    <ul id="Size">
                                                    </ul>
                                                </form>

                                            </div>
                                            <div class="theme-options">
                                                <div class="cart-title number">数量</div>
                                                <input id="text_box" name="Num" type="number" value="1" min="1" style="width:89px;height:29px;margin-left:21px;margin-top: 11px;" />
                                                @*<span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>*@
                                                <li>
                                                    <div class="clearfix tb-btn tb-btn-buy theme-login">
                                                        <a id="LikBuy" title="点此按钮到下一步确认购买信息" onclick="OnBuy()"><span class="gou">立即购买</span></a>
                                                    </div>
                                                </li>
                                                <style>
                                                    .tb-btn-buy {
                                                        margin-left: 1px;
                                                        margin-top: 35px;
                                                    }

                                                    #LikBuy {
                                                        width: 140px;
                                                        height: 37px;
                                                        margin-left:18px;
                                                    }

                                                    #LikBasket {
                                                        width: 140px;
                                                        height: 37px;
                                                    }

                                                    .gou {
                                                        padding-top: 1px;
                                                    }
                                                </style>
                                                <li>
                                                    <div class="clearfix tb-btn tb-btn-basket theme-login">
                                                        <a id="LikBasket" title="加入购物车" onclick="AddCar()"><span class="gou">加入购物车</span></a>
                                                    </div>
                                                </li>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                    <!-- introduce-->

                    <div class="introduce">
                        <style>
                            .am-tabs {
                                margin-left: -430px;
                                margin-top: 126px;
                                float: left;
                            }
                        </style>
                        <div class="introduceMain">
                            <div class="am-tabs" data-am-tabs>
                                <ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs">
                                    <li class="am-active">
                                        <a href="#">

                                            <span class="index-needs-dt-txt">宝贝详情</span>
                                        </a>

                                    </li>

                                    <li>
                                        <a href="#">

                                            <span class="index-needs-dt-txt">全部评价</span>
                                        </a>

                                    </li>
                                </ul>

                                <div class="am-tabs-bd">

                                    <div class="am-tab-panel am-fade am-in am-active">
                                        <div class="J_Brand">

                                            <div class="attr-list-hd tm-clear">
                                                <h4>产品参数：</h4>
                                            </div>
                                            <div class="clear"></div>
                                            <ul id="J_AttrUL">
                                                <li title="">产品类型:&nbsp;烘炒类</li>
                                                <li title="">原料产地:&nbsp;巴基斯坦</li>
                                                <li title="">产地:&nbsp;湖北省武汉市</li>
                                                <li title="">配料表:&nbsp;进口松子、食用盐</li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="details">
                                            <div class="attr-list-hd after-market-hd">
                                                <h4>商品细节</h4>
                                            </div>
                                            <div class="twlistNews" id="twlistNews">
                                                <img src="../images/tw1.jpg" />
                                                <img src="../images/tw2.jpg" />
                                                <img src="../images/tw3.jpg" />
                                                <img src="../images/tw4.jpg" />
                                                <img src="../images/tw5.jpg" />
                                                <img src="../images/tw6.jpg" />
                                                <img src="../images/tw7.jpg" />
                                            </div>
                                        </div>
                                        <div class="clear"></div>

                                    </div>

                                    <div class="am-tab-panel am-fade">


                                        <div class="clear"></div>
                                        <div class="tb-r-filter-bar">
                                            <ul class=" tb-taglist am-avg-sm-4">
                                                <li class="tb-taglist-li tb-taglist-li-current">
                                                    <div class="comment-info">
                                                        <span>全部评价</span>
                                                        <span class="tb-tbcr-num">(32)</span>
                                                    </div>
                                                </li>

                                                <li class="tb-taglist-li tb-taglist-li-1">
                                                    <div class="comment-info">
                                                        <span>好评</span>
                                                        <span class="tb-tbcr-num">(32)</span>
                                                    </div>
                                                </li>

                                                <li class="tb-taglist-li tb-taglist-li-0">
                                                    <div class="comment-info">
                                                        <span>中评</span>
                                                        <span class="tb-tbcr-num">(32)</span>
                                                    </div>
                                                </li>

                                                <li class="tb-taglist-li tb-taglist-li--1">
                                                    <div class="comment-info">
                                                        <span>差评</span>
                                                        <span class="tb-tbcr-num">(32)</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>

                                        <ul class="am-comments-list am-comments-list-flip">
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年11月02日 17:46</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="255776406962">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">l***4 (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年10月28日 11:33</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="255095758792">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                没有色差，很暖和……美美的
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：蓝调灰&nbsp;&nbsp;尺码：2XL
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年11月02日 17:46</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="255776406962">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">h***n (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年11月25日 12:48</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="258040417670">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                式样不错，初冬穿
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：柠檬黄&nbsp;&nbsp;尺码：L
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>

                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年11月02日 17:46</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="255776406962">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">l***4 (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年10月28日 11:33</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="255095758792">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                没有色差，很暖和……美美的
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：蓝调灰&nbsp;&nbsp;尺码：2XL
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年11月02日 17:46</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="255776406962">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">h***n (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年11月25日 12:48</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="258040417670">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                式样不错，初冬穿
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：柠檬黄&nbsp;&nbsp;尺码：L
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年11月02日 17:46</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="255776406962">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">l***4 (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年10月28日 11:33</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="255095758792">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                没有色差，很暖和……美美的
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：蓝调灰&nbsp;&nbsp;尺码：2XL
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年11月02日 17:46</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="255776406962">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>
                                            <li class="am-comment">
                                                <!-- 评论容器 -->
                                                <a href="">
                                                    <img class="am-comment-avatar" src="../images/hwbn40x40.jpg" />
                                                    <!-- 评论者头像 -->
                                                </a>

                                                <div class="am-comment-main">
                                                    <!-- 评论内容容器 -->
                                                    <header class="am-comment-hd">
                                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                        <div class="am-comment-meta">
                                                            <!-- 评论元数据 -->
                                                            <a href="#link-to-user" class="am-comment-author">h***n (匿名)</a>
                                                            <!-- 评论者 -->
                                                            评论于
                                                            <time datetime="">2015年11月25日 12:48</time>
                                                        </div>
                                                    </header>

                                                    <div class="am-comment-bd">
                                                        <div class="tb-rev-item " data-id="258040417670">
                                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                                式样不错，初冬穿
                                                            </div>
                                                            <div class="tb-r-act-bar">
                                                                颜色分类：柠檬黄&nbsp;&nbsp;尺码：L
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- 评论内容 -->
                                                </div>
                                            </li>

                                        </ul>
                                        <div class="clear"></div>
                                        <!--分页 -->
                                        <ul class="am-pagination am-pagination-right">
                                            <li class="am-disabled"><a href="#">&laquo;</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <div class="tb-reviewsft">
                                            <div class="tb-rate-alert type-attention">购买前请查看该商品的 <a href="#" target="_blank">购物保障</a>，明确您的售后保障权益。</div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
</body>
</html>
