@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>购物车页面</title>
    <link href="~/Content/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" />
    <link href="~/Content/basic/css/demo.css" rel="stylesheet" />
    <link href="~/Content/css/cartstyle.css" rel="stylesheet" />
    <link href="~/Content/css/optstyle.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.js"></script>

</head>

<body>

    <!--顶部导航条 -->
    <div class="am-container header">

        <ul class="message-l">
            <li>
                <div class="topMessage">
                    <div class="menu-hd">
                        <a href="#" target="_top" class="h">亲，请登录</a>
                        <a href="#" target="_top">免费注册</a>
                    </div>
                </div>
            </li>

        </ul>
        <ul class="message-r">
            <div class="topMessage home">
                <div class="menu-hd"><a href="javascript:location.href='/ShowMasters/ShowMaster'" target="_top" class="h">商城首页</a></div>
            </div>
            <div class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng"><a href="javascript:location.href='/Personal/SingePersonalCenter'" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
            </div>
            <div class="topMessage mini-cart">
                <div class="menu-hd"><a id="mc-menu-hd" href="javascript:location.href='/ShopCar/SingShopCar'" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>我的购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
            </div>
            <div class="topMessage favorite">
                <div class="menu-hd"><a href="javascript:location.href='/ShowMasters/GoodsAddCollect'" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>商品收藏</span></a></div>
            </div>
        </ul>
    </div>

    <!--悬浮搜索框-->

    <div class="nav white">

        <div class="logo"></div>
        <div class="logoBig">
            <ul>
                <li>
                    <img src="/Imagess/五姐妹.png" height="80" width="100" />
                </li>
            </ul>

        </div>

        <div class="search-bar pr">
            <a name="index_none_header_sysc" href="#"></a>
            <form>
                <input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off" />
                <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit" />
            </form>
        </div>
    </div>

    <div class="clear"></div>

    <!--购物车 -->
    <div class="concent">
        <div id="cartTable">
            <div class="cart-table-th">
                <div class="wp">
                    <div class="th th-chk">
                        <div id="J_SelectAll1" class="select-all J_SelectAll">

                        </div>
                    </div>
                    <div class="th th-item">
                        <div class="td-inner">商品信息</div>
                    </div>
                    <div class="th th-price">
                        <div class="td-inner">单价</div>
                    </div>
                    <div class="th th-amount">
                        <div class="td-inner">数量</div>
                    </div>
                    <div class="th th-sum">
                        <div class="td-inner">金额</div>
                    </div>
                    <div class="th th-op">
                        <div class="td-inner">操作</div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>


            <div class="bundle  bundle-last ">
                <div class="bundle-hd">
                    <div class="bd-promos">
                        <div class="bd-has-promo"><span class="bd-has-promo-content"></span>&nbsp;&nbsp;</div>
                        <div class="act-promo">
                            <a></a>

                        </div>
                        <span class="list-change theme-login">编辑</span>
                    </div>
                </div>

                <div class="clear"></div>


                <div class="bundle-main" id="fathers">

                    <ul class="item-content clearfix">
                        <li class="td td-chk">
                            <div class="cart-checkbox ">
                                <input class="check" name="items[]" value="" type="checkbox" />
                                <label for="ck1"></label>
                            </div>
                        </li>
                        <li class="td td-item">
                            <div class="item-pic" id="Picture">
                                <a href="#" target="_blank" data-title="" class="J_MakePoint" data-point="tbcart.8.12">

                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-basic-info" id="ShopGoods">
                                    <a href="#" target="_blank" title="" class="item-title J_MakePoint" data-point="tbcart.8.11"></a>
                                </div>
                            </div>
                        </li>
                        <li class="td td-info">
                            <div class="item-props item-props-can">
                                
                                <i class="theme-login am-icon-sort-desc"></i>
                            </div>
                        </li>
                        <li class="td td-price">
                            <div class="item-price price-promo-promo">
                                <div class="price-content">

                                    <div class="price-line" id="OnePrice">
                                        <em class="J_Price price-now" tabindex="0">价格</em>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="td td-amount" id="l1">
                            <div class="amount-wrapper">
                                <div class="item-amount">
                                    <div class="sl" id="SPNumber">
                                        <input class="min am-btn" name=""  type="button" value="-" />
                                        <input class="text_box" name="" type="text" value="数量" style="width:30px;" />
                                        <input class="add am-btn" name=""  type="button" value="+" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="td td-sum">
                            <div class="td-inner" id="ZPrice">
                                <em tabindex="0" class="J_ItemSum number">数量*价格</em>
                            </div>
                        </li>
                        <li class="td td-op">
                            <div class="td-inner">


                            </div>
                        </li>
                    </ul>
                </div>

                <div class="float-bar-wrapper">
                    <div id="J_SelectAll2" class="select-all J_SelectAll">
                        <div class="cart-checkbox">
                            <input id="ckAll" name="select-all" value="true" type="checkbox" onchange="Check()" />
                            <label for="ckAll"></label>
                        </div>
                        <span>全选</span>
                    </div>
                    <div class="operations">
                        <a hidefocus="true" onclick="DelAll()">删除</a>
                    </div>
                    <div class="float-bar-right">
                        <div class="amount-sum">
                            <span class="txt" id="span1">已选商品</span>

                            <span class="txt" id="span2">0</span>件
                            <div class="arrow-box">
                                <span class="selected-items-arrow"></span>
                                <span class="arrow"></span>
                            </div>
                        </div>
                        <div class="price-sum">
                            <span class="txt">合计:</span>
                            <strong class="price">¥<em id="J_Total"></em></strong>
                        </div>
                        <div class="btn-area">
                            <a href="pay.html" id="J_Go" class="submit-btn submit-btn-disabled" aria-label="请注意如果没有选择宝贝，将无法结算">
                                <span>结&nbsp;算</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    var UserId = 2;
    //第一次加载
    $(function () {
        ShowCar();
        $("#J_SelectedItemsCount").text(0);
        $("#J_MiniCartNum").text(2);
    })
    //获取总数量
    function HuoQu() {
        var Cont = 0;
        var arr = [];
        $("#J_Total").empty();
        $("#span2").empty();
        $(".check:checked").each(function () { 
            Cont++;
            arr.push($(this).val());
        })
        //选中件数
        $("#span2").text(Cont);
        if (arr.length <= 0) {

        }
        else {
            $.ajax({
                url: "http://localhost:50519/api/GoodsCarInfos/GetGoodsCarPrice?ids=" + arr.toString() + "&UserId=2",
                type: "get",
                async: false,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    $("#J_Total").text(d.sumPrice);
                    $("#span2").text(d.sumCount);
                }

            })
        }
       
    }
    //显示购物车数据
    function ShowCar() {
        $.ajax({
            url: "http://localhost:50519/api/GoodsCarInfos/GetShopCarAndGoods?UserId=2",
            type: "get",
            dataType: "json",
            async: false,
            contentType: "application/x-www-form-urlencoded",
            success: function (d) {
                $("#fathers").empty();
                console.log(d);
                $(d).each(function () {
                    var str = "<ul class='item-content clearfix'>" +
                        "<li class='td td-chk'><div class='cart-checkbox '><input class='check' name='items[]' value='" + this.goodsCarInfoId + "' type='checkbox' onchange='HuoQu()' /><label for='ck'></label></div></li>" +
                        "<li class='td td-item'><div class='item-pic' id='Picture'><a href='#' target='_blank' data-title='' class='J_MakePoint' data-point='tbcart.8.12'><img style='width:79px;height:79px' onclick='Xq(" + this.goodsInfoId+")' src=" + this.goodsImg + "></a></div><div class='item-info'><div class='item-basic-info' id='ShopGoods'><a href='#' target='_blank' title='' class='item-title J_MakePoint' data-point='tbcart.8.11'>" + this.goodsInfoName + "</a></div></div></li>" +
                        "<li class='td td-info'><div class='item-props item-props-can'><i class='theme-login am-icon-sort-desc'></i>" + this.goodsSize + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' + this.goodsColor +'&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'+ this.goodsInfoDesc + "</div></li>" +
                        "<li class='td td-price'><div class='item-price price-promo-promo'><div class='price-content'><div class='price-line'id='OnePrice'><em class='J_Price price-now' tabindex='0'>" + this.goodsInfoPrice + "</em></div></div></div></li>" +
                        "<li class='td td-amount'><div class='amount-wrapper'><div class='item-amount'><div class='sl' id='SPNumber'><input class='min am-btn' name='' type='button' value='-' onclick='UpdBack(" + this.goodsCarInfoId + ")' /><input class='text_box' type='text' id='i1' value='" + this.goodsNumber + "' style='width:30px;' /><input class='add am-btn' name=''type='button' value='+' onclick='UpdGo(" + this.goodsCarInfoId + ")' /></div></div></div></li>" +
                        "<li class='td td-sum'><div class='td-inner' id='ZPrice'><em tabindex='0' class='J_ItemSum number'>" + this.goodsInfoPrice * this.goodsNumber + "</em></div></li>" +
                        "<li class='td td-op'><div class='td-inner'><a title='移入收藏夹' class='btn-fav' href='javascript:Clect("+this.goodsInfoId+")'>移入收藏夹</a><a data-point-url='#' class='delete'  onclick='DelOne(" + this.goodsCarInfoId + ")'>删除</a></div></li>" +
                        "</ul>";
                    $("#fathers").append(str);
                })
            }
        })
    }
    function Xq(GoodsId) {
        location.href = "/ShowMasters/GoodsLook?GoodsId=" + GoodsId;
    }
    //收藏
    function Clect(Id) {
        var model = {};
        model.GoodsInfoIdOut = Id;
        model.UserInfoIdOut = UserId;
        $.ajax({
            url: "http://localhost:50519/api/GoodsAdd/AddGoodsClect",
            type: "post",
            dataType: "json",
            data: model,
            contentType: "application/x-www-form-urlencoded",
            success: function (d) {
                if (d > 0) {
                    alert("收藏成功");
                }
            }
        })
    }
    //全选
    function Check() {
        $(".check").prop("checked", $("#ckAll").prop("checked"));
        HuoQu();
    }
    //单独删除数据
    function DelOne(id) {
        if (confirm("确认删除吗？")) {
            $.ajax({
                url: "http://localhost:50519/api/GoodsCarInfos/DeleteCars?ids=" + id,
                type: "post",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    if (d > 0) {
                        alert("删除成功");
                        ShowCar();
                    }
                    else {
                        alert("删除失败");
                    }
                }

            })
        }
    }
    //批量删除数据
    function DelAll() {
        var id = [];
        $(".check").each(function () {
            if ($(this).prop("checked")) {
                id.push($(this).val());
            }
        })
        if (id.length <= 0) {
            alert("请选择您要移除的商品");
            return;
        }
        if (confirm("确认删除吗？")) {
            $.ajax({
                url: "http://localhost:50519/api/GoodsCarInfos/DeleteCars?ids=" + id,
                type: "post",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    if (d > 0) {
                        alert("成功");
                        ShowCar();
                    }
                }

            })
        }
    }

    //修改数量加一
    function UpdGo(id) {
        $.ajax({
            url: "http://localhost:50519/api/GoodsCarInfos/UpdateAndGo?id=" + id,
            type: "post",
            async: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (d) {
                if (d > 0) {
                    ShowCar();           
                    HuoQu();
                   
                }
            }
        })
    }
    //修改数量减一
    function UpdBack(id) {
        $.ajax({
            url: "http://localhost:50519/api/GoodsCarInfos/UpdateAndBack?id=" + id,
            type: "post",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (d) {
                if (d > 0) {
                    ShowCar();
                    HuoQu();
                }
            }
        })
    }
</script>
