<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>个人资料</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" />
    <link href="~/Content/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" />
    <link href="~/Content/css/personal.css" rel="stylesheet" />
    <link href="~/Content/css/infstyle.css" rel="stylesheet" />
    <script src="~/Content/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="~/Content/AmazeUI-2.4.2/assets/js/amazeui.js"></script>

</head>

<body>
    <!--头 -->
    <header>
        <article>
            <div class="mt-logo">
                <!--顶部导航条 -->
                <div class="am-container header">
                    <ul class="message-l">
                        <div class="topMessage">
                            <div class="menu-hd">
                                <a href="#" target="_top" class="h">亲，请登录</a>
                                <a href="#" target="_top">免费注册</a>
                            </div>
                        </div>
                    </ul>
                    <ul class="message-r">
                        <div class="topMessage home">
                            <div class="menu-hd"><a href="javascript:location.href='/ShowMasters/ShowMaster'" target="_top" class="h">商城首页</a></div>
                        </div>
                        <div class="topMessage my-shangcheng">
                            <div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
                        </div>
                        <div class="topMessage mini-cart">
                            <div class="menu-hd"><a id="mc-menu-hd" href="javascript:location.href='/ShopCar/SingShopCar'" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
                        </div>
                        <div class="topMessage favorite">
                            <div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            </div>
        </article>
    </header>
    <div class="nav-table">
        <div class="long-title"><span class="all-goods">全部分类</span></div>
        <div class="nav-cont">
            <ul>
                <li class="index"><a href="javascript:location.href='/ShowMasters/ShowMaster'">首页</a></li>
            </ul>

        </div>
    </div>
    <b class="line"></b>
    <div class="center">
        <div class="col-main">
            <div class="main-wrap">

                <div class="user-info">
                    <!--标题 -->
                    <div class="am-cf am-padding">
                        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small></div>
                    </div>
                    <hr />
                    <!--个人信息 -->
                    <div class="info-main">
                        <form class="am-form am-form-horizontal">
                            <div class="am-form-group">
                                <label for="user-name" class="am-form-label">姓名</label>
                                <div class="am-form-content">
                                    <input type="text" value="" id="user-name2" placeholder="name">

                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-form-label">性别</label>
                                <div class="am-form-content sex">
                                    <label class="am-radio-inline">
                                        <input type="radio" name="radio10" value="1" data-am-ucheck> 男
                                    </label>
                                    <label class="am-radio-inline">
                                        <input type="radio" name="radio10" value="0" data-am-ucheck> 女
                                    </label>
                                    <label class="am-radio-inline">
                                        <input type="radio" name="radio10" value="2" data-am-ucheck> 保密
                                    </label>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-birth" class="am-form-label">生日</label>
                                <div class="am-form-content birth">
                                    <input id="user-brith" value="" type="date" />
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-phone" class="am-form-label">电话</label>
                                <div class="am-form-content">
                                    <input id="user-phone" value="" placeholder="telephonenumber" type="tel">

                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-email" class="am-form-label">电子邮件</label>
                                <div class="am-form-content">
                                    <input id="user-email" value="" placeholder="Email" type="email">

                                </div>
                            </div>
                            <div class="info-btn">
                                <div onclick="save()" class="am-btn am-btn-danger">保存修改</div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
            @*底部*@
            <div class="footer">
                <div class="footer-hd">

                </div>
                <div class="footer-bd">

                </div>
            </div>
        </div>

        <aside class="menu">
            <ul>
                <li class="person active">
                    <a><i class="am-icon-user"></i>个人中心</a>
                </li>
                <li class="person">
                    <p><i class="am-icon-newspaper-o"></i>个人资料</p>
                    <ul>
                        <li> <a href="javascript:location.href='/Personal/SingePersonalCenter'">个人信息</a></li>
                        <li> <a href="javascript:location.href='/Personal/'">安全设置</a></li>
                        <li> <a href="javascript:location.href='/Personal/Place'">地址管理</a></li>
                    </ul>
                </li>
                <li class="person">
                    <p><i class="am-icon-balance-scale"></i>我的订单</p>
                    <ul>
                        <li><a href="javascript:location.href='/ShowMasters/OrderPayMoney'">待付款</a></li>
                        <li><a href="javascript:location.href='/ShowMasters/OrderFh'">待发货</a></li>
                        <li><a href="javascript:location.href='/ShowMasters/OrderMessage'">待收货</a></li>
                        <li><a href="javascript:location.href='/ShowMasters/OrderRemark'">待评价</a></li>
                    </ul>
                </li>
                <li class="person">
                    <p><i class="am-icon-dollar"></i>我的资产</p>
                    <ul>
                        <li> <a href="javascript:location.href='/ShowMasters/DisMessage'">优惠券 </a></li>
                        <li> <a href="javascript:location.href='/ShowMasters/'">账户余额</a></li>
                    </ul>
                </li>

                <li class="person">
                    <p><i class="am-icon-tags"></i>我的收藏</p>
                    <ul>
                        <li> <a href="javascript:location.href='/ShowMasters/GoodsAddCollect'">收藏</a></li>
                        <li> <a href="javascript:location.href='/ShowMasters/'">足迹</a></li>
                    </ul>
                </li>

                <li class="person">
                    <ul>
                        <li> <a href="javascript:location.href='/ShowMasters/'">意见反馈</a></li>
                        <li> <a href="javascript:location.href='/ShowMasters/'">我的消息</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
    </div>

</body>

</html>
<script>
    $(function () {
        PeersonalFill();
    })
    //个人信息回显
    function PeersonalFill() {
        $.ajax({
            url: "",
            type: "get",
            dataType: "json",
            data: { userInfoId: parseInt("@ViewBag.userInfoId")},
            success: function (d) {
                $("#user-name2").val(d.UserInfoName);
                if (d.UserInfoSex=="1") {
                    $("[name='radio10'][value=1]").attr("checked", "checked").prop("checked", true).trigger("change");
                }
                if (d.UserInfoSex == "0") {
                    $("[name='radio10'][value=0]").attr("checked", "checked").prop("checked", true).trigger("change");
                }
                if (d.UserInfoSex == "2") {
                    $("[name='radio10'][value=2]").attr("checked", "checked").prop("checked", true).trigger("change");
                }
                $("#user-brith").val(d.UserInfoBrith);//生日
                $("#user-phone").val(d.UserInfoPhone);//电话
                $("#user-email").val(d.UserInfoEmil);//电子邮件
            }
        })
    }
    function save() {
        $.aja({
            url: "",
            type: "post",
            dataType: "json",
            data: { userInfoName: $("#user-name2").val(), userInfoSex: $("[name=radio10]:checked").val(), userInfoBrith: $("#user-brith").val(), userInfoPhone: $("#user-phone").val(), userInfoEmil: $("#user-email").val() },
            success: function (d) {
                if (d > 0) {
                    alert("保存成功!");
                    PeersonalFill();
                }
                else {
                    alert("保存失败!");
                    return;
                }
            }
        })
    }
</script>